<div class="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">&times;</button>
            <h4 class="modal-title">Selected Date</h4>
        </div>
        <div class="modal-body">
            <p>Date : <b>{{formData.date.fulldate}}</b></p>
            <p>Day  : <b>{{formData.date.dayname}}</b></p>
            <p ng-if="formData.date.events.length ==0"> No Events</p>
            <p ng-repeat="i in formData.date.events">
                {{i.eventName}}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Close</button>
        </div>
    </div>
</div>