<div class="sidebar" >
    <nav class="sidebar-nav" style="height:500px !important;">
        <ul class="nav">
            <li class="nav-item" >
                <a class="nav-link" ng-class="hoverMenu === menuItem.displayName ?'active':'' " id={{menuItem.displayName}} ><i class={{menuItem.icon}}></i>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pdf/User_Guide_V_3.0_GSTSTAR.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>User Guide</a>
            </li>
            <li class="divider"></li>
        </ul>
    </nav>
</div>